@model AfterSki.Models.GetCount
<div class="col-xs-9">
    <div>
        <small>Latest Ride:</small> <div class="badge text-right">@Model.dayTime</div>
    </div>
    <div>
        <small>Total Meters Season @Model.season:</small><div class="badge-success text-right"> @Model.totalMeters</div>
    </div>
    <div>
        <small>Total Rides Season @Model.season:</small><div class="badge-prog text-right"> @Model.totalRides</div>
    </div>

</div>