@model AfterSki.Models.RidePrognosis
@*<div>
    <div>
        <div>
            Current height:
                <div>
                    @Model.heightForSpecificDateAndTime
                </div>
                <div>
                    Prognosed height:
                <div>
                    @Model.heightProg1530
                </div>
                <div>
                    @Model.heightProg1630
                </div>
                <div>
                    @Model.heightProg1800
                </div>
            </div>
        </div>
    </div>
</div>*@
<section id="main-slider">
    <div class="owl-carousel">
        <div @*class="item"*@>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div class="RideProgText">
                                    End of day at 15:30.
                                    <div>
                                        Current height: @Model.heightForSpecificDateAndTime meters
                                        <div>
                                            Prognosed height: @Model.heightProg1530 meters
                                        </div>
                                    </div>
                                </div>                                                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->
        <div @*class="item"*@>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div class="RideProgText">
                                    End of day at 16:30.
                                    <div>
                                        Current height: @Model.heightForSpecificDateAndTime meters
                                        <div>
                                            Prognosed height: @Model.heightProg1630 meters
                                        </div>
                                    </div>
                                </div>                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->
        <div @*class="item"*@>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div class="RideProgText">
                                    End of day at 18:00.
                                    <div>
                                        Current height: @Model.heightForSpecificDateAndTime meters
                                        <div>
                                            Prognosed height: @Model.heightProg1800 meters
                                        </div>
                                    </div> 
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->
    </div><!--/.owl-carousel-->
</section>