@model AfterSki.Models.RidePrognosis

<section id="main-slider">
    <div class="owl-carousel">
        <div class="RideProgText">
            <div class="RideProgHighlight">
                <u><strong>End of day at 15:30.</strong></u>
                <div>
                    Your current height is: <u><em>@Model.heightForSpecificDateAndTime</em></u> meters.
                    <div>
                        If you keep it up your height will be <u><em>@Model.heightProg1530</em></u> meters at the end of the day!
                    </div>
                </div>
            </div>            
        </div> 
        <div class="RideProgText">
            <div class="RideProgHighlight">
                <u><strong>End of day at 16:30.</strong></u>
                <div>
                    Your current height is: <u><em>@Model.heightForSpecificDateAndTime</em></u> meters.
                    <div>
                        If you keep it up your height will be <u><em>@Model.heightProg1630</em></u> meters at the end of the day!
                    </div>
                </div>
            </div>            
        </div>
        <div class="RideProgText">
            <div class="RideProgHighlight">
                <h2><u><strong>End of day at 18:00.</strong></u></h2>
                <div>
                    <p>Your current height is: <u><em>@Model.heightForSpecificDateAndTime</em></u> meters.</p>
                    <div>
                        <p>If you keep it up your height will be <u><em>@Model.heightProg1800</em></u> meters at the end of the day!</p>
                    </div>
                </div>
            </div>            
        </div>
    </div><!--/.owl-carousel-->
</section>