@model AfterSki.Models.RidePrognosis


    <div class="container">
    <section id="main-slider">
        <div class="owl-carousel">
            <div class="RideProgText">
                <div class="RideProgHighlight">
                    <h3><strong><u>End of day at 15:30.</u></strong></h3>
                    <div>
                        <p>
                            Your current height is: <u><em>@Model.heightForSpecificDateAndTime</em></u> meters.
                            <br />
                            If you keep it up your height will be <u><em>@Model.heightProg1530</em></u> meters at the end of the day!
                        </p>
                    </div>
                </div>
            </div>
            <div class="RideProgText">
                <div class="RideProgHighlight">
                    <h3><strong><u>End of day at 16:30.</u></strong></h3>
                    <div>
                        <p>
                            Your current height is: <u><em>@Model.heightForSpecificDateAndTime</em></u> meters.
                            <br />
                            If you keep it up your height will be <u><em>@Model.heightProg1630</em></u> meters at the end of the day!
                        </p>
                    </div>
                </div>
            </div>
            <div class="RideProgText">
                <div class="RideProgHighlight">
                    <h3><strong><u>End of day at 18:00.</u></strong></h3>
                    <div>
                        <p>
                            Your current height is: <u><em>@Model.heightForSpecificDateAndTime</em></u> meters.
                            <br />
                            If you keep it up your height will be <u><em>@Model.heightProg1800</em></u> meters at the end of the day!
                        </p>
                    </div>
                </div>
            </div>
        </div><!--/.owl-carousel-->
    </section>
</div>
